*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../public/assets/images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(159, 156, 156);
    background-blend-mode:multiply;
    height: 760px;
    width: 100%;
}
header .high-text{
    height: 100%;
    width: 600px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .high-text > h1{
    color: white;
    margin-bottom: 20px;
    font-weight:700;
    font-size: 50px;
}
header .high-text p{
    color: white;
    margin-bottom: 20px;
}
header .high-text button{
    height: 50px;
    width: 100px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-left: 250px;
}
/* donate section */
.donate{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.donate .taka ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.donate .taka ul li{
    list-style: none;
    padding: 20px;
}
.donate .taka .select{
    color: red;
    border: 2px solid rgb(238, 92, 92);
    background-color: rgb(232, 174, 153);
}
.donate .amount{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate .amount input{
    width: 200px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.donate .amount button{
    height: 40px;
    width: 100px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
}
.donate > h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}
.donate > p{
    color: gray;
    margin-bottom: 20px;
}
.donate .taka{
    margin-bottom: 30px;
}
