*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../public/assets/images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(159, 156, 156);
    background-blend-mode:multiply;
    height: 760px;
    width: 100%;
}
header .high-text{
    height: 100%;
    width: 600px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .high-text > h1{
    color: white;
    margin-bottom: 20px;
    font-weight:700;
    font-size: 50px;
}
header .high-text p{
    color: white;
    margin-bottom: 20px;
}
header .high-text button{
    height: 50px;
    width: 100px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-left: 250px;
}
/* donate section */
.donate{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.donate .taka ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.donate .taka ul li{
    list-style: none;
    padding: 20px;
}
.donate .taka .select{
    color: red;
    border: 2px solid rgb(238, 92, 92);
    background-color: lightpink;
}
.donate .amount{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate .amount input{
    width: 200px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.donate .amount button{
    height: 40px;
    width: 100px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
}
.donate > h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}
.donate > p{
    color: gray;
    margin-bottom: 20px;
}
.donate .taka{
    margin-bottom: 30px;
}
/* donate-plan section */
.donate-plan{
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.donate-plan > h1{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
}
.donate-plan > p{
    color: gray;
}
.donate-plan .plans{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.donate-plan .plans .food{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
}
.donate-plan .plans .shelter{
    background-color:lightpink;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
}
.donate-plan .plans .education{
    background-color: bisque;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
}
.donate-plan .plans > h3, p, img{
    margin-bottom: 10px;
}
/* news section */
.news{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}
.news .description{
    width: 500px;
    padding: 20px;
}
.news .description > h3{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}
.news .description > p{
    margin-bottom: 10px;
}
.news .description > button{
    height: 50px;
    width: 150px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-top: 20px;
}
/* form section */
.form{
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.form > h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form .main-form{
    background-color: antiquewhite;
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
}
.form .main-form > input{
    width: 300px;
    height: 30px;
    text-align: center;
    border: 0;
    background-color: rgb(214, 210, 210);
}
.form .main-form > button{
    height: 40px;
    width: 150px;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
}
/* footer */
footer{
    margin-top: 50px;
    background-color: black;
    padding: 30px;
    text-align: center;
    color: white;
}
footer > h1{
    color: pink;
    font-style: oblique;
    margin-bottom: 10px;
}